replicaCount: 1

image:
  registry: ""
  repository: rohitmmm/argo-cd-test
  #tag: "OVERRIDDEN-IN-ARGOCD"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
