replicaCount: 1

image:
  registry: localhost:5000
  repository: testapp/argo-cd-test
  tag: "1.0.0-dev.g0c85fbc"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
